# prod
dist/

# dev
.hono/
.wrangler/
.yarn/
!.yarn/releases
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf

# deps
node_modules/

# env
.env
.env.production
.dev.vars
service-account*.json

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# misc
.DS_Store
wrangler.toml
__wrangler.toml
wrangler_command.txt
testdata.sql
wrangler.jsonc
repomix-output**
CLAUDE.md